[submodule "CocosBuilder/libs/cocos2d-iphone"]
	path = CocosBuilder/libs/cocos2d-iphone
	url = https://github.com/akehoyayoi/cocos2d-objc.git
[submodule "CocosBuilder/libs/ssziparchive"]
	path = CocosBuilder/libs/ssziparchive
	url = https://github.com/akehoyayoi/ssziparchive.git
[submodule "CocosBuilder/libs/Fragaria"]
	path = CocosBuilder/libs/Fragaria
	url = https://github.com/akehoyayoi/Fragaria.git 
[submodule "Examples/CocosBuilderExample/libs/CCBReader"]
	path = Examples/CocosBuilderExample/libs/CCBReader
	url = https://github.com/akehoyayoi/CCBReader.git
